{% extends "base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}

<h1>Корзина</h1>

{% if items %}

<table>

<tr>
<th>Книга</th>
<th>Количество</th>
<th></th>
</tr>

{% for item in items %}

<tr>

<td>{{ item.book.title }}</td>

<td>{{ item.quantity }}</td>

<td>

<form action="{{ url_for('cart.remove_from_cart', item_id=item.id) }}" method="POST">
<button class="btn">Удалить</button>
</form>

</td>

</tr>

{% endfor %}

</table>

<br>
<a href="{{ url_for('orders.checkout') }}" class="btn">Оформить заказ</a>

{% else %}
<p>Корзина пуста</p>
{% endif %}
{% endblock %}