{% extends "base.html" %}
{% block title %}Корзина{% endblock %}
{% block content %}
<h1>Корзина</h1>

<table>

<tr>
<th>Книга</th>
<th>Цена</th>
<th>Количество</th>
<th></th>
</tr>

{% for item in items %}

<tr>

<td>{{ item.book.title }}</td>
<td>{{ item.book.price }}</td>
<td>{{ item.quantity }}</td>

<td>
<a href="{{ url_for('cart.remove_from_cart', item_id=item.id) }}">
Удалить
</a>
</td>

</tr>

{% endfor %}

</table>

<h3>Итого: {{ total }}</h3>

<a href="{{ url_for('orders.checkout') }}" class="button">
Оформить заказ
</a>

{% endblock %}}