{% extends "base.html" %}

{% block content %}


<h1>Каталог книг</h1>
<form method="GET" action="{{ url_for('catalog.catalog_index') }}">
    <input type="text" name="search" placeholder="Поиск книг" value="{{ search }}">
    <button type="submit">Найти</button>
</form>
{% if books|length == 0 %}
<p>Ничего не найдено</p>
{% endif %}

<div class="books">

{% for book in books %}

<div class="book-card">

<a href="{{ url_for('catalog.book_detail', book_id=book.id) }}">
<img src="{{ book.cover_url }}" class="cover">
</a>

<h3>{{ book.title }}</h3>
<p>{{ book.author }}</p>
<p class="price">{{ book.price }} ₽</p>

<form action="{{ url_for('cart.add_to_cart', book_id=book.id) }}" method="POST">
    <button type="submit" class="btn">В корзину</button>
</form>

<a class="details" href="{{ url_for('catalog.book_detail', book_id=book.id) }}">
Подробнее
</a>

</div>
{% endfor %}

</div>

{% endblock %}